<span class="govuk-caption-xl"><%= @presenter.title %></span>
<%= render "govuk_publishing_components/components/select", {
  id: "response",
  label: question.title,
  heading_size: 'xl',
  is_page_heading: true,
  error_message: question.error,
  options: question.select_options
} %>
